@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Jakarta Sans";
  src: url("../fonts/jakarta-sans.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.header {
  background-color: transparent;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
  position: relative;
  z-index: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
  gap: 13px;
}

.header__logo img {
  max-width: 62px;
  height: auto;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header__content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header__mobile-menu {
  display: none;
}

.header__link {
  color: white;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__icon-menu {
  display: none;
}

.header__cross {
  display: none;
}

.header__button {
  padding: 15px 21px;
  background-color: #E88A25;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  border-radius: 5px;
}

.header__button svg path {
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header__white {
  background-color: white;
}

.header__white .header__button {
  border-color: #E88A25;
}

.header__white .header__menu {
  color: black;
}

.header__white .header__menu a {
  color: black;
}

.header__white .header__logo {
  color: black;
}

.header__white .header__logo img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.header__white .header__icon-menu span {
  background-color: black;
}

.header__mobile-menu.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #1E1E1E;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body:after {
  content: "";
  -webkit-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  background-color: black;
}

body.show-burger {
  overflow: hidden;
}

body.show-burger:after {
  z-index: 10;
  opacity: 0.6;
  visibility: visible;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hero {
  position: relative;
  z-index: 1;
  padding-bottom: 90px;
  padding-top: 100px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #F0F0F0;
}

.hero__content {
  z-index: 2;
  position: relative;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hero__title {
  text-align: center;
  color: white;
  line-height: 140%;
  margin-top: 20px;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.hero__image {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1029px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-cta {
  background-color: white;
  padding-top: 56px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding-bottom: 94px;
}

.grid-cta__heading {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 140%;
  font-size: 40px;
  color: #1E1E1E;
  font-weight: 700;
}

.grid-cta__subtitle {
  margin-top: 20px;
  line-height: 120%;
  color: #1E1E1E;
  max-width: 889px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  text-align: center;
}

.grid-cta__content {
  margin-top: 100px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.grid-cta__content-three {
  margin-top: -10px;
}

.grid-cta__content-two {
  grid-template-columns: 1fr auto;
  margin-top: -10px;
}

.grid-cta__body {
  max-width: 600px;
  width: 100%;
}

.grid-cta__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
}

.grid-cta__title b {
  font-weight: 500;
  color: #E88A25;
}

.grid-cta__text {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 500;
  max-width: 523px;
  line-height: 170%;
  letter-spacing: 1px;
}

.grid-cta__list {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 11px;
  font-family: "Jakarta Sans", sans-serif;
  font-weight: 500;
  padding-left: 14px;
}

.grid-cta__list li {
  position: relative;
  list-style: disc;
}

.faq {
  margin-top: 74px;
}

.faq h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 140%;
  font-size: 40px;
  color: black;
  z-index: 3;
  position: relative;
  padding: 0 20px;
  font-weight: 700;
}

.faq__spoller {
  padding: 24px 24px 24px 34px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px rgba(67, 74, 122, 0.15);
          box-shadow: 0px 2px 5px rgba(67, 74, 122, 0.15);
  border-radius: 10px;
}

.faq__spoller-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
}

.faq__spoller-title svg {
  -webkit-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.faq__spoller-title._active svg {
  rotate: 180deg;
}

.faq__spoller-body {
  display: none;
  color: #1D1D1D;
  line-height: 130%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  max-width: 1100px;
  margin-top: 15px;
}

.faq__spollers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 16px;
  margin-top: 30px;
}

.checkout {
  background-color: white;
  padding-bottom: 74px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.checkout__content {
  display: grid;
  grid-template-columns: 467px 1fr;
  gap: 16px;
}

.checkout__products {
  -webkit-box-shadow: 0px 3px 8px rgba(218, 218, 227, 0.5);
          box-shadow: 0px 3px 8px rgba(218, 218, 227, 0.5);
  padding: 24px;
  border-radius: 20px;
}

.checkout__products-list-wrapper {
  max-height: 637.3px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.checkout__products-list-wrapper::-webkit-scrollbar {
  display: none;
}

.checkout__products-list-title {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}

.checkout__product {
  display: grid;
  grid-template-columns: 116px 1fr;
  gap: 17px;
  border-bottom: 1px solid #edf1f4;
  padding-bottom: 24px;
  padding-top: 24px;
}

.checkout__product:last-child {
  border-bottom: none;
}

.checkout__product img {
  border-radius: 8px;
}

.checkout__product-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout__product-title button {
  text-decoration: underline;
  padding: none;
  font-size: 12px;
  color: #0d105d;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: transparent;
}

.checkout__product-title h4 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  line-height: 130%;
}

.checkout__product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2px 0;
  gap: 5px;
}

.checkout__product-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.checkout__product-body p {
  color: #7d8495;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.checkout__product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.checkout__product-price h4 {
  font-size: 14px;
  color: #E88A25;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}

.checkout__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding: 9px;
  background-color: #0d105d;
  font-family: "Roboto", sans-serif;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.checkout__cart {
  -webkit-box-shadow: 0px 3px 8px rgba(218, 218, 227, 0.5);
          box-shadow: 0px 3px 8px rgba(218, 218, 227, 0.5);
  border-radius: 20px;
}

.checkout__spoiler {
  padding: 20px 23px 0 23px;
}

.checkout__spoiler-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding-bottom: 8px;
  border-bottom: 1px solid #dde5eb;
}

.checkout__spoiler-title._active svg {
  rotate: 180deg;
}

.checkout__spoiler-title svg {
  -webkit-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.checkout__spoiler-title h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}

.checkout__cart-products {
  border: 1px solid #dde5eb;
  border-radius: 4px;
  margin-top: 16px;
  padding: 24px 20px;
}

.checkout__cart-title {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 0.4fr 0.4fr;
  text-align: center;
  border-bottom: 1px solid #edf1f4;
  padding: 0 16px 12px 16px;
  gap: 10px;
}

.checkout__cart-title h3 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #9aabb7;
  font-weight: 700;
}

.checkout__cart-title h3:first-child {
  text-align: left;
}

.checkout__empty svg {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout__empty p {
  text-align: center;
  margin-top: 19px;
  font-weight: 600;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #a6b3bd;
}

.checkout__table {
  margin-top: 23px;
  border: 1px solid #dde5eb;
  background-color: rgba(237, 241, 244, 0.5);
  border-radius: 4px;
  padding: 0 16px;
}

.checkout__table p {
  padding: 12px 0 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #dee3e6;
}

.checkout__table p b {
  font-weight: 500;
}

.checkout__table p:first-child {
  font-weight: 700;
}

.checkout__table p:first-child b {
  font-weight: 700;
}

.checkout__table p:last-child {
  border-bottom: none;
}

.checkout__subtitle {
  margin-top: 8px;
  padding-left: 10px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #7d8495;
}

.checkout__payment-checkbox,
.checkout__address-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  margin-top: 24px;
  padding-bottom: 20px;
  cursor: pointer;
}

.checkout__payment-checkbox p,
.checkout__address-checkbox p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #1d1d1d;
}

.checkout__payment-checkbox input,
.checkout__address-checkbox input {
  display: none;
}

.checkout__checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1.5px solid #8498a9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.checkout__form {
  max-width: 589px;
}

.checkout__form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px;
  margin-top: 20px;
}

.checkout__form {
  margin-top: 20px;
}

.checkout__street-input {
  display: grid;
  grid-template-columns: 1fr 94px;
  gap: 16px;
}

.checkout__zip-input {
  display: grid;
  grid-template-columns: 94px 1fr;
  gap: 16px;
}

.checkout__input-wrapper p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #020203;
}

.checkout__input-wrapper input {
  padding: 11px 16px;
  width: 100%;
  color: black;
  background-color: #edf1f4;
  border-radius: 6px;
  letter-spacing: 0.5px;
  margin-top: 11px;
  font-weight: 500;
  font-size: 13px;
}

.checkout__input-wrapper input::-webkit-input-placeholder {
  color: #c5c7d6;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 13px;
}

.checkout__input-wrapper input::-moz-placeholder {
  color: #c5c7d6;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 13px;
}

.checkout__input-wrapper input:-ms-input-placeholder {
  color: #c5c7d6;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 13px;
}

.checkout__input-wrapper input::-ms-input-placeholder {
  color: #c5c7d6;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 13px;
}

.checkout__input-wrapper input::placeholder {
  color: #c5c7d6;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 13px;
}

.checkout__delivery-address {
  margin-top: 35px !important;
}

.checkout__delivery-address h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 31px;
  font-weight: 700;
}

.checkout__payment-products,
.checkout__forms {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #95a7b9 #e2e7ed;
  max-height: 418px;
}

.checkout__payment-products::-webkit-scrollbar,
.checkout__forms::-webkit-scrollbar {
  width: 3px;
}

.checkout__payment-products::-webkit-scrollbar-track,
.checkout__forms::-webkit-scrollbar-track {
  background: #e2e7ed;
}

.checkout__payment-products::-webkit-scrollbar-thumb,
.checkout__forms::-webkit-scrollbar-thumb {
  background: #95a7b9;
}

.checkout__address-body {
  display: grid;
  overflow-y: auto;
  grid-template-rows: auto 1fr auto;
}

.checkout__payment-button,
.checkout__address-save {
  margin-top: 23px;
  padding: 12px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  border-radius: 4px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  background-color: #0d105d;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.checkout__pay {
  padding-bottom: 24px;
}

.checkout__line-items {
  max-height: 332px;
  overflow-y: auto;
}

.checkout__line-item {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 0.4fr 0.4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  border-bottom: 1px solid #edf1f4;
  padding: 7px 16px 7px 16px;
}

.checkout__line-item p {
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  line-height: 120%;
  text-align: center;
}

.checkout__line-item-image {
  display: grid;
  grid-template-columns: 68px 1fr;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__line-item-image img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.checkout__line-item-image h4 {
  text-align: initial !important;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 120%;
}

.checkout__line-item-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 9px;
  border-radius: 50px;
  max-width: 96px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #B4B6C5;
}

.checkout__line-item-quantity button {
  background-color: transparent;
  width: 16px;
  height: 16px;
  padding: 0;
}

.checkout__line-item-quantity span {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: black;
}

.checkout__payment-products {
  padding: 4px 20px 20px 20px;
  margin-top: 16px;
  border: 1px solid #EAEEF6;
  border-radius: 4px;
  max-height: 215px;
  overflow-y: auto;
}

.checkout__payment-product {
  display: grid;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #EAEEF6;
  grid-template-columns: 1fr 0.3fr 0.3fr 0.3fr;
  gap: 16px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__payment-product:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.checkout__payment-product-quantity {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #1E1E1E;
}

.checkout__payment-product-text h4 {
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
}

.checkout__payment-product-text p {
  font-family: "Roboto", sans-serif;
  color: #E88A25;
  line-height: 130%;
  font-size: 14px;
  font-weight: 600;
}

.checkout__payment-product-image {
  display: grid;
  grid-template-columns: 91px 1fr;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__payment-product-image p {
  text-align: initial;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 120%;
  margin-top: 7px;
  color: #7D8495;
}

.checkout__payment-product-image h4 {
  text-align: initial;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 120%;
}

.checkout__payment-product-image img {
  height: 70px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.checkout__payment-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  border-radius: 4px;
  padding: 13px 31px;
  border: 1px solid #EAEEF6;
  background-color: rgba(237, 241, 244, 0.5);
  margin-top: 12px;
}

.checkout__payment-price p {
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: "Roboto", sans-serif;
}

.checkout__payment-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 12px;
}

.checkout__payment-seller,
.checkout__payment-invoice,
.checkout__payment-delivery {
  padding: 16px 20px;
  border: 1px solid #EAEEF6;
  background-color: rgba(237, 241, 244, 0.5);
}

.checkout__payment-seller h3,
.checkout__payment-invoice h3,
.checkout__payment-delivery h3 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 120%;
}

.checkout__payment-seller p,
.checkout__payment-invoice p,
.checkout__payment-delivery p {
  margin-top: 9px;
  font-size: 12px;
  line-height: 140%;
  color: #1E1E1E;
}

.checkout__payment-checkbox input:checked ~ .checkout__checkbox,
.checkout__address-checkbox input:checked ~ .checkout__checkbox {
  background-color: #0d105d;
  border-color: #0d105d;
}

.checkout__payment-button:disabled,
.checkout__address-save:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: initial;
}

.quantity-decrease {
  display: none;
}

.checkout__payment-checkbox {
  margin-top: 12px;
}

.checkout__payment-button {
  display: none !important;
}

.steps {
  background-color: white;
  padding-top: 134px;
  padding-bottom: 94px;
  position: relative;
}

.steps__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
}

.steps__title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 140%;
  font-size: 40px;
  color: white;
  z-index: 3;
  position: relative;
  font-weight: 700;
}

.steps__subtitle {
  margin-top: 20px;
  line-height: 120%;
  max-width: 892px;
  z-index: 3;
  position: relative;
  color: white;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  text-align: center;
}

.steps__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  z-index: 3;
  position: relative;
  margin-top: 138px;
}

.steps__arrow {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(70%, -50%);
      -ms-transform: translate(70%, -50%);
          transform: translate(70%, -50%);
  z-index: 3;
}

.steps__item {
  background-color: white;
  padding: 30px 21px 35px 21px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.steps__item img {
  height: 80px;
  width: initial;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps__item h3 {
  text-align: center;
  font-family: "inter", sans-serif;
  font-weight: 600;
  margin-top: 20px;
  font-size: 20px;
  line-height: 120%;
}

.steps__item p {
  margin-top: 16px;
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.slider {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 85px;
}

.slider__title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 140%;
  font-size: 40px;
  color: black;
  z-index: 3;
  position: relative;
  padding: 0 20px;
  font-weight: 700;
}

.slider__text {
  margin-top: 20px;
  line-height: 120%;
  max-width: 821px;
  z-index: 3;
  position: relative;
  color: black;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  text-align: center;
  padding: 0 20px;
}

.slider__subtitle {
  margin-top: 47px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  line-height: 200%;
  text-align: center;
  font-weight: 900;
  padding: 0 20px;
}

.slider__pagination {
  display: none;
}

.slider__container {
  max-width: 1340px !important;
  padding: 0 !important;
}

.slider__prev {
  position: absolute;
  top: 50%;
  left: -15px;
  z-index: 3;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider__prev svg path {
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.slider__next {
  position: absolute;
  top: 50%;
  z-index: 3;
  cursor: pointer;
  right: -15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider__next svg path {
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.slider__content {
  position: relative;
}

.slider__swiper {
  margin-top: 27px;
  padding-top: 20px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 19px !important;
  z-index: 1;
  max-width: 1250px;
  position: relative;
}

.slider__swiper:after {
  width: 300px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(15%, rgba(255, 255, 255, 0.3)), color-stop(40%, rgba(255, 255, 255, 0.7)), color-stop(70%, white));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.7) 40%, white 70%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.7) 40%, white 70%);
  pointer-events: none;
  height: 100%;
  position: absolute;
  right: 0;
  content: "";
  z-index: 2;
  top: 0;
}

.slider__slide {
  padding: 20px 20px 0 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 10px rgba(67, 74, 122, 0.25);
          box-shadow: 0px 4px 10px rgba(67, 74, 122, 0.25);
}

.slider__slide h3 {
  margin-top: 19px;
  font-size: 18px;
  line-height: 120%;
  color: #1d1d1d;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  min-height: 43.2px;
}

.slider__slide img {
  border-radius: 8px;
}

.slider__slide h4 {
  margin-top: 32px;
  color: #E88A25;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.slider__slide h4 b {
  font-size: 14px !important;
}

.slider__slide-list {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #7d8495;
  padding-left: 16px;
}

.slider__slide-list li {
  line-height: 110%;
  list-style: disc;
}

.slider__slide-button {
  -webkit-transform: translateY(19px);
      -ms-transform: translateY(19px);
          transform: translateY(19px);
  padding: 12px;
  border: 1px solid #0d105d;
  border-radius: 8px;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: white;
  background-color: #0d105d;
  width: 100%;
  text-align: center;
}

.error-popup {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  height: 100dvh;
  left: 0;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
  background-color: rgba(0, 0, 0, 0.6);
}

.error-popup.active {
  visibility: visible;
  z-index: 100;
  opacity: 1;
}

.error-popup__container {
  max-width: 805px;
  margin-right: auto;
  margin-left: auto;
  padding: 33px 24px 24px 24px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  width: 100%;
  background-color: white;
}

.error-popup__container h3 {
  margin-top: 23px;
  font-size: 20px;
  font-weight: 700;
  line-height: 110%;
  font-family: "Roboto", sans-serif;
}

.error-popup__container p {
  text-align: left !important;
  font-family: "Roboto", sans-serif;
  line-height: 130%;
}

.error-popup__content {
  border: 1px solid #dde5eb;
  background-color: rgba(237, 241, 244, 0.5);
  border-radius: 4px;
  margin-top: 22px;
  padding: 20px 24px;
}

.error-popup__content a {
  margin-top: 30px;
  padding: 16px;
  max-width: 331px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: black;
  display: block;
  font-weight: 700;
}

.error-popup__close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.approve-popup {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  z-index: -1;
  height: 100dvh;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
  background-color: rgba(0, 0, 0, 0.6);
}

.approve-popup.active {
  visibility: visible;
  z-index: 100;
  opacity: 1;
}

.approve-popup__container {
  max-width: 805px;
  margin-right: auto;
  margin-left: auto;
  padding: 33px 24px 24px 24px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  width: 100%;
  background-color: white;
}

.approve-popup__container h3 {
  margin-top: 23px;
  font-size: 20px;
  font-weight: 700;
  line-height: 110%;
  font-family: "Roboto", sans-serif;
}

.approve-popup__container p {
  text-align: left !important;
  font-family: "Roboto", sans-serif;
  line-height: 130%;
}

.approve-popup__content {
  border: 1px solid #dde5eb;
  background-color: rgba(237, 241, 244, 0.5);
  border-radius: 4px;
  margin-top: 22px;
  padding: 20px 24px;
}

.approve-popup__content h4 {
  margin-top: 30px;
  padding: 16px;
  max-width: 331px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: black;
  display: block;
  font-weight: 700;
}

.approve-popup__close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.footer {
  margin-top: 70px;
}

.footer__container {
  position: relative;
  max-width: 1440px !important;
  width: 100%;
  padding-top: 104px !important;
  padding-bottom: 76px !important;
}

.footer__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 25px;
  color: white;
}

.footer__links a {
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
  line-height: 110%;
  color: white;
}

.footer__buttons {
  max-width: 157px;
  width: 100%;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 16px;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E88A25;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.footer__button svg path {
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.footer__address {
  margin-top: 23px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  font-weight: 400;
}

.footer__socials {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
}

.footer__socials img {
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
  z-index: 2;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}

.footer__logo img {
  max-width: 60px;
}

.footer__logo p {
  font-size: 20px;
  line-height: 120%;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: white;
}

@media (min-width: 1600px) {
  .steps {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }

  .steps__title {
    margin-top: 100px;
  }
}

@media (max-width: 1400px) {
  .slider__prev {
    left: 10px;
  }

  .slider__next {
    right: 10px;
  }
}

@media (max-width: 1250px) {
  .container {
    padding: 0 20px;
  }

  .slider__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }

  .slider__pagination .swiper-pagination-bullet {
    width: 11px !important;
    height: 11px !important;
    -webkit-transition: 0.4s ease all !important;
    -o-transition: 0.4s ease all !important;
    transition: 0.4s ease all !important;
  }

  .slider__pagination .swiper-pagination-bullet-active {
    background-color: #E88A25 !important;
  }

  .slider__prev {
    display: none;
  }

  .slider__next {
    display: none;
  }
}

@media (max-width: 1200px) {
  .hero__title {
    font-size: 30px;
  }

  .hero__image {
    max-width: 800px;
  }

  .grid-cta__heading {
    font-size: 30px;
  }

  .faq h2 {
    font-size: 30px;
  }

  .checkout__content {
    grid-template-columns: 350px 1fr;
  }

  .checkout__product {
    grid-template-columns: 70px 1fr;
  }

  .checkout__product-title {
    gap: 20px;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }

  .checkout__product-title button {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 2px;
  }

  .steps__bg {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .steps__title {
    font-size: 30px;
  }

  .slider__title {
    font-size: 30px;
  }
}

@media (max-width: 1100px) {
  .grid-cta__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .checkout__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .checkout__products-list-wrapper {
    max-height: 350px;
  }

  .checkout__payment-products,
  .checkout__forms {
    max-height: initial;
    overflow: initial;
  }

  .checkout__address-body {
    max-height: initial;
    overflow: initial;
  }

  .checkout__line-items {
    max-height: initial;
    overflow: initial;
  }

  .checkout__payment-products {
    max-height: initial;
    overflow: initial;
  }
}

@media (max-width: 991.98px) {
  .header__logo {
    font-size: 16px;
    gap: 10px;
  }

  .header__logo img {
    max-width: 45px;
  }

  .header__menu {
    gap: 20px;
    font-size: 14px;
  }

  .header__button {
    font-size: 14px;
    padding: 13px 15px;
    gap: 10px;
  }

  .hero__title {
    font-size: 25px;
  }

  .hero__image {
    max-width: 600px;
  }

  .grid-cta__heading {
    font-size: 25px;
  }

  .grid-cta__subtitle {
    font-size: 14px;
    max-width: 700px;
  }

  .grid-cta__content {
    margin-top: 50px;
  }

  .grid-cta__title {
    font-size: 25px;
    line-height: 140%;
  }

  .grid-cta__text {
    margin-top: 15px;
    line-height: 140%;
    font-size: 14px;
  }

  .grid-cta__list {
    margin-top: 20px;
    font-size: 14px;
    gap: 10px;
  }

  .faq h2 {
    font-size: 20px;
  }

  .steps {
    padding-top: 0;
    padding-bottom: 0;
  }

  .steps__bg {
    display: none;
  }

  .steps__title {
    font-size: 20px;
    color: black;
  }

  .steps__subtitle {
    font-size: 14px;
    max-width: 700px;
    color: black;
  }

  .steps__content {
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  .steps__arrow {
    display: none;
  }

  .steps__item {
    -webkit-box-shadow: 0px 4px 10px rgba(67, 74, 122, 0.25);
            box-shadow: 0px 4px 10px rgba(67, 74, 122, 0.25);
  }

  .steps__item h3 {
    font-size: 18px;
  }

  .steps__item p {
    font-size: 14px;
  }

  .slider__title {
    font-size: 20px;
  }

  .slider__text {
    font-size: 14px;
    max-width: 700px;
  }

  .slider__slide h3 {
    font-size: 16px;
  }

  .slider__slide h4 {
    font-size: 24px;
  }

  .slider__slide-list li {
    font-size: 14px;
  }

  .footer__address {
    font-size: 14px;
  }

  .footer__content {
    padding: 0 15px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
  }
}

@media (max-width: 767.98px) {
  .header {
    height: 80px;
  }

  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__menu {
    display: none;
  }

  .header__mobile-menu {
    display: block;
    z-index: 11;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    position: fixed;
    right: 0;
    height: 100%;
    width: 400px;
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
    text-align: center;
    top: 0;
    background-color: white;
  }

  .header__mobile-menu a {
    display: block;
    font-size: 20px;
    line-height: 130%;
    font-weight: 600;
    padding: 15px;
    color: black;
  }

  .header__buttons {
    gap: 15px;
  }

  .header__icon-menu {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__icon-menu span {
    width: 100%;
    display: block;
    height: 2px;
    background-color: white;
    -webkit-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    transition: 0.4s ease all;
  }

  .header__cross {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 80px;
    padding-right: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .container {
    padding: 0 15px;
  }

  .hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .hero__background {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .grid-cta {
    margin-top: 40px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-bottom: 50px;
  }

  .grid-cta__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .grid-cta__image {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .grid-cta__body {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .grid-cta__title br {
    display: none;
  }

  .grid-cta__text {
    margin-right: auto;
    margin-left: auto;
  }

  .grid-cta__list {
    padding: 0;
  }

  .grid-cta__list li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    list-style-position: inside;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .grid-cta__content-two .grid-cta__body {
    grid-row: 1;
  }

  .faq {
    margin-top: 50px;
  }

  .faq__spoller {
    padding: 18px;
  }

  .checkout {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 40px;
  }

  .checkout__cart-products {
    padding: 20px 10px;
  }

  .checkout__cart-title {
    padding: 0 0 12px 0;
  }

  .checkout__cart-title h3 {
    font-size: 12px;
  }

  .checkout__form-row {
    grid-template-columns: repeat(1, 1fr);
  }

  .checkout__line-item {
    padding: 7px 0;
  }

  .checkout__line-item p {
    font-size: 12px;
  }

  .checkout__line-item-image {
    gap: 10px;
    grid-template-columns: 55px 1fr;
  }

  .checkout__line-item-image h4 {
    font-size: 12px;
  }

  .checkout__line-item-quantity {
    padding: 5px;
  }

  .checkout__line-item-quantity svg {
    max-width: 10px;
  }

  .checkout__line-item-quantity span {
    font-size: 12px;
  }

  .checkout__payment-products {
    padding: 4px 10px 10px 10px;
  }

  .checkout__payment-product-text h4 {
    font-size: 10px;
  }

  .checkout__payment-product-text p {
    font-size: 12px;
  }

  .checkout__payment-product-image {
    grid-template-columns: 50px 1fr;
  }

  .checkout__payment-product-image p {
    font-size: 12px;
  }

  .checkout__payment-product-image h4 {
    font-size: 12px;
  }

  .checkout__payment-product-image img {
    height: 60px;
  }

  .checkout__payment-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .checkout__payment-price p {
    font-size: 12px;
  }

  .checkout__payment-info {
    grid-template-columns: repeat(1, 1fr);
  }

  .checkout__payment-seller h3,
  .checkout__payment-invoice h3,
  .checkout__payment-delivery h3 {
    font-size: 12px;
  }

  .steps__content {
    gap: 15px;
    margin-top: 50px;
  }

  .steps__item {
    padding: 25px 15px 30px 15px;
  }

  .steps__item h3 {
    font-size: 16px;
  }

  .slider {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .slider__subtitle {
    margin-top: 25px;
  }

  .slider__pagination {
    margin-top: 30px;
  }

  .slider__swiper:after {
    display: none;
  }

  .slider__swiper {
    margin-top: 10px;
  }

  .slider__slide {
    padding: 10px 10px 0 10px;
  }

  .footer__container {
    padding-top: 90px !important;
    margin-top: 0;
    padding-bottom: 70px !important;
  }

  .footer__links {
    grid-row: 2;
  }

  .footer__buttons {
    margin-right: auto;
    margin-left: auto;
  }

  .footer__address {
    text-align: center;
  }

  .footer__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
  }

  .footer__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 570px) {
  .checkout {
    padding-bottom: 25px;
  }

  .checkout__products {
    padding: 10px;
  }

  .checkout__products-list-title {
    font-size: 14px;
  }

  .checkout__product-price {
    margin-top: 10px;
  }

  .checkout__spoiler {
    padding: 15px 10px 0 10px;
  }

  .checkout__spoiler-title h3 {
    font-size: 14px;
  }

  .checkout__cart-title {
    grid-template-columns: repeat(4, 1fr);
  }

  .checkout__vat-field {
    display: none;
  }

  .checkout__line-item {
    grid-template-columns: repeat(4, 1fr);
  }

  .checkout__line-item-image {
    display: block;
  }

  .checkout__line-item-image img {
    display: none;
  }
}

@media (max-width: 510px) {
  .checkout__subtitle {
    font-size: 12px;
  }

  .checkout__payment-product {
    grid-template-columns: repeat(1, 1fr);
  }

  .checkout__payment-product-text h4 {
    font-size: 14px;
  }

  .checkout__payment-product-text p {
    font-size: 16px;
  }

  .checkout__payment-product-image {
    grid-template-columns: repeat(1, 1fr);
    text-align: center !important;
  }

  .checkout__payment-product-image p {
    text-align: center;
  }

  .checkout__payment-product-image h4 {
    font-size: 14px;
    text-align: center !important;
  }

  .checkout__payment-product-image img {
    max-width: 60px;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .checkout__payment-price p {
    font-size: 14px;
  }

  .checkout__payment-seller h3,
  .checkout__payment-invoice h3,
  .checkout__payment-delivery h3 {
    font-size: 14px;
  }
}

@media (max-width: 479.98px) {
  .header {
    height: 70px;
  }

  .header__logo {
    font-size: 14px;
    gap: 5px;
  }

  .header__logo img {
    max-width: 40px;
  }

  .header__mobile-menu {
    max-width: 100%;
  }

  .header__buttons {
    gap: 10px;
  }

  .header__button {
    gap: 8px;
    padding: 12px 10px;
  }

  .steps__content {
    grid-template-columns: repeat(1, 1fr);
    max-width: 250px;
    gap: 24px;
  }

  .steps__arrow {
    display: block;
    top: initial;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 70%) rotate(90deg);
        -ms-transform: translate(-50%, 70%) rotate(90deg);
            transform: translate(-50%, 70%) rotate(90deg);
  }
}

@media (hover: hover) {
  .header__link:hover {
    color: #E88A25 !important;
  }

  .header__button:hover {
    color: #E88A25;
    background-color: white;
  }

  .header__button:hover svg path {
    fill: #E88A25;
  }

  .checkout__product-title button:hover {
    color: #E88A25;
  }

  .checkout__add:hover {
    background-color: #E88A25;
  }

  .checkout__payment-button:hover,
  .checkout__address-save:hover {
    background-color: #E88A25;
  }

  .slider__prev:hover svg path {
    -webkit-transform: translateX(-3px);
        -ms-transform: translateX(-3px);
            transform: translateX(-3px);
  }

  .slider__next:hover svg path {
    -webkit-transform: translateX(3px);
        -ms-transform: translateX(3px);
            transform: translateX(3px);
  }

  .slider__slide-button:hover {
    background-color: #E88A25;
    border-color: #E88A25;
  }

  .footer__links a:hover {
    color: #E88A25;
  }

  .footer__button:hover {
    background-color: white;
    color: #E88A25;
  }

  .footer__button:hover svg path {
    fill: #E88A25;
  }

  .footer__socials a:hover img {
    scale: 1.1;
  }
}